.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu {
	list-style-type: none;
	margin-top: 67px;
	float: right;
}
.menu li {
	float: left;
}
.menu a {
	color: #8c8c8c;
	font-size: 14px;
	font-weight: 700;
	text-align: right;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 13px;
}
.menu .active {
	color: #212121;
	font-weight: 700;
	border-bottom: 3px solid #212121;
}
.menu a:hover {
	color: #212121;
	font-weight: 700;
	border-bottom: 3px solid #212121;
}
.menu a:active {
	color: #8c8c8c;
	font-weight: 700;
	border-bottom: 3px solid #212121;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.footer {
	height: 384px;
	width: 1169px;
	background-color: #f7f7f7;
	padding-left: 99px;
	padding-right: 98px;
	margin: -384px auto 0;
	clear: both;
}
.footer form {
	position: relative;
}
.footer form a i {
	display: block;
	width: 21px;
	height: 21px;
	position: absolute;
	z-index: 2;
	top: 10px;
    right: 50px;
    color: #6c6c6c;
}
.text-footer {
	margin-top: 120px;
	width: 221px;
	float: left;
	margin-right: 68px;
}
.text-footer:last-child {
	margin-right: 0;
}
.text-footer h3 {
	text-transform: uppercase; 
	color:  #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 22px;
	letter-spacing: 2px;
}
.text-footer p {
	color:  #212121;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-bottom: 20px;
}
.text-footer a {
	text-decoration: none;
	text-transform: uppercase;
	color:  #212121;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-align: left;
}
.text-footer a:hover {
	border-bottom: 2px solid #212121;
}
.text-footer a:active {
	color: #6c6c6c;
	border-bottom: 2px solid #6c6c6c;
}
.container {
	width: 1366px;
	margin: 0 auto;
	min-height: 100%;
}
.clr {
	height: 384px;
}